* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  
  /* NGILANGIN MARGIN DEFAULT BAWAAN DARI P */
  p {
    margin: 0 !important;
  }
  
  .container .content {
    display: flex;
    justify-content: center;
    flex: 1;
  }
  
  .content .card-content {
    box-shadow: 0px 16px 90px rgba(19, 7, 52, 0.08);
    border-radius: 12px;
    padding: 40px;
    margin-bottom: 40px;
    width: 56%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* Content Card Header */
  .card-content .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }
  
  .left .category {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1px;
    color: #ff5f26;
  }
  
  .left .title {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #293038;
    margin: 10px 0 12px;
  }
  
  .left .sub-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #7a7f83;
  }
  
  .right .btn-add-task {
    display: flex;
    align-items: center;
    background: #ff5f26;
    border-radius: 60px;
  }
  
  .right .btn-add-task:hover {
    cursor: pointer;
  }
  
  .btn-add-task span {
    margin-left: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }
  
  /* Content Card Sub-Header */
  .card-content .card-sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }
  
  .card-sub-header .left {
    color: #7a7f83;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-transform: capitalize;
  }
  
  .right .sort-by {
    padding: 10px 32px 10px 14px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #ff5f26;
    border: 1px solid #ff5f26;
    border-radius: 50px;
    text-transform: capitalize;
  }
  
  /* Card Main */
  .card-main .task-list {
    display: flex;
    justify-content: space-between;
  }
  
  .task-list .left {
    display: flex;
    align-items: flex-start;
  }
  
  .left input[type="checkbox"] {
    position: relative;
    appearance: none;
    background-color: #fff;
    margin-right: 14px;
    border-radius: 100%;
    border: 1px solid #ccced2;
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  }
  
  .left input[type="checkbox"]::before {
    position: absolute;
    content: "";
    display: block;
    top: 3px;
    left: 8px;
    width: 8px;
    height: 14px;
    border-style: solid;
    border-color: white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }
  
  .left input[type="checkbox"]:checked {
    color: white;
    background-color: orange;
  }
  
  .left input[type="checkbox"]:checked::before {
    opacity: 1;
  }
  
  .detail .info {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
  }
  
  .info .task-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-transform: capitalize;
    color: #293038;
    margin-right: 1rem;
  }
  
  .info .task-deadline {
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    color: #ff5f26;
    padding: 8px 12px;
    background: #ffebd3;
    border-radius: 50px;
    text-transform: capitalize;
  }
  
  .detail .task-desc {
    color: #7a7f83;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    margin-bottom: 16px;
  }
  
  .card-content .task-done {
    border-top: 1px solid #ccced2;
    padding-top: 30px;
    margin-top: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #7a7f83;
  }
  
  .task-done img {
    margin-right: 8px;
  }
  
  /* RESPONSIVE */
  
  @media (max-width: 768px) {
    .content .card-content {
      padding: 22px;
      width: 90vw !important;
    }
  
    .card-content .card-header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .info .task-deadline {
      font-size: 8px;
    }
  
    .detail .info {
      flex-direction: column;
      align-items: start;
    }
  
    .info .task-name {
      font-size: 3.2vw;
      margin-right: 0.5rem;
    }
  }
  